
#__next {
    height: 100%; 
    position: relative;
}
img {
    max-width: 100%;
    width: 100%;
}
.leaflet-container {
    height: 500px;
}
.contentwrap {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns:
        minmax(0,1fr)
        min(80ch, 100%)
        minmax(0,1fr)
}
.main {
    min-width: 0;
}
.contentwrap > * {
    grid-column: 2;
}
.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
}