.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: beige;
}
.body{
    position: relative;
    background-color: beige;
    top: 0;
    width: 100%;
    text-align: center;
    flex-grow: 1;
    height: 100%;
}